@import '@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
    font-family: 'Cookies';
    src: url('/fonts/Cookie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Covereds';
    src: url('/fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Dots';
    src: url('/fonts/EduAUVICWANTDots-VariableFont_wght.ttf') format(truetype);
}

@font-face {
    font-family: 'Homes';
    src: url('/fonts/HomemadeApple-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Greats';
    src: url('/fonts/GreatVibes-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Winters';
    src: url('/fonts/Winter-Prime.ttf') format(truetype);
}