<section class="bg-gray-100 py-16 px-6 sm:px-12 lg:px-24">
    <div class="container max-w-7xl mx-auto">
        <h2 class="text-5xl sm:text-5xl lg:text-5xl font-bold text-center text-primary mb-4 font-cookies">
            Descubre <br /> lo que nos diferencia.
        </h2>
        <p class="text-center text-gray-600 max-w-3xl mx-auto mb-12">
            Somos <b class="text-primary">Turismo María Belén E.I.R.L. </b> una empresa dedicada al transporte especializada en viajes interprovinciales, tours, paquetes turísticos y traslado de personales institucionales en toda la Región.
            <br />
            Contamos con Guías y una flota de Movilidades de última generación, somos mayoristas de paquetes turísticos en nuestra región.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <div class="flex flex-col items-center text-center p-6 bg-white shadow-lg rounded-lg">
                <i class="fas fa-tags text-primary text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Precios Accesibles</h3>
                <p class="text-gray-600 text-sm">
                    Experiencias de calidad adaptadas a tu presupuesto, sin comprometer la excelencia.
                </p>
            </div>

            <div class="flex flex-col items-center text-center p-6 bg-white shadow-lg rounded-lg">
                <i class="fas fa-user-tie text-primary text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Personal Capacitado</h3>
                <p class="text-gray-600 text-sm">
                    Contamos con profesionales experimentados para garantizar tu seguridad y satisfacción.
                </p>
            </div>

            <div class="flex flex-col items-center text-center p-6 bg-white shadow-lg rounded-lg">
                <i class="fas fa-suitcase text-primary text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Variedad de Paquetes</h3>
                <p class="text-gray-600 text-sm">
                    Diseñamos opciones personalizadas para satisfacer tus intereses y necesidades únicas.
                </p>
            </div>

            <div class="flex flex-col items-center text-center p-6 bg-white shadow-lg rounded-lg">
                <i class="fas fa-award text-primary text-4xl mb-4"></i>
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Amplia Experiencia</h3>
                <p class="text-gray-600 text-sm">
                    Años de servicio respaldan nuestra calidad y compromiso en el sector turístico.
                </p>
            </div>
        </div>
    </div>
</section>
