<section class="bg-primary text-white py-12">
    <div class="container mx-auto px-6 md:px-12 text-center space-y-8">
        <div class="flex justify-center mb-6">
            <img src="/images/logo.png" alt="Logo de Turismo María Belén" class="sm:h-48 lg:h-48 object-contain rounded-full border-4 border-primary" />
        </div>        

        <div class="flex justify-center space-x-6 mb-6">
            <a href="https://www.facebook.com/TurismoMariaBelenEIRL" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-400 transition duration-300">
                <i class="fa-brands fa-facebook fa-2xl"></i>
            </a>
            <a href="https://www.instagram.com/turismo_maria_belen_eirl/" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-400 transition duration-300">
                <i class="fa-brands fa-instagram fa-2xl"></i>
            </a>
            <a href="https://www.youtube.com/@turismomariabeleneirl7042" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-400 transition duration-300">
                <i class="fa-brands fa-youtube fa-2xl"></i>
            </a>
            <a href="https://www.tiktok.com/@turismomariabelen95" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-400 transition duration-300">
                <i class="fa-brands fa-tiktok fa-2xl"></i>
            </a>
            <a href="https://wa.me/51967288042?text=Hola%20*Agencia%20de%20Turismo%20Mar%C3%ADa%20Bel%C3%A9n*,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20paquetes%20tur%C3%ADsticos." target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-400 transition duration-300">
                <i class="fa-brands fa-whatsapp fa-2xl"></i>
            </a>
        </div>

        <div class="space-y-4 text-lg text-white mb-6">
            <div>
                <i class="fa-solid fa-phone text-white mr-2"></i>
                <a href="tel:+51967288042" class="hover:text-gray-400">+51 967 288 042</a>
            </div>
            <div>
                <i class="fa-solid fa-phone text-white mr-2"></i>
                <a href="tel:+51939874156" class="hover:text-gray-400">+51 939 874 156</a>
            </div>
            <div>
                <i class="fa-solid fa-envelope text-white mr-2"></i>
                <a href="mailto:info@turismomariabelen.com" class="hover:text-gray-400">info@turismomariabelen.com</a>
            </div>
            <div>
                <i class="fa-solid fa-envelope text-white mr-2"></i>
                <a href="mailto:contacto@turismomariabelen.com" class="hover:text-gray-400">contacto@turismomariabelen.com</a>
            </div>
        </div>

        <div class="mt-6 text-sm text-gray-400">
            <p>&copy; 2024 Agencia de Turismo María Belén. Todos los derechos reservados. | RUC: 20604158789</p>
            <p>Diseñado por <a href="https://www.facebook.com/rubenestebantipiania/reviews" class="text-white hover:text-gray-400" target="_blank">Rubén Tipiani</a></p>
        </div>        
    </div>
</section>