---
 const { 
    src = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1913.7560216284319!2d-71.537523!3d-16.398801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424ba4bb0d6009%3A0xa34ef4c576e434ca!2sTurismo%20Maria%20Belen!5e0!3m2!1ses-419!2sus!4v1734883266341!5m2!1ses-419!2sus" 
} = Astro.props;
---
<div class="map-wrapper">
    <iframe 
        src={src} 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<style>
.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    overflow: hidden;
    margin: 0;
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}
</style>