<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-4xl font-semibold text-primary mb-8">
            Los mejores <br /> paquetes turísticos
        </h2>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete1.png" alt="Colca Full Day Vivencial" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        COLCA <br /> FULL DAY VIVENCIAL
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20COLCA%20FULL%20DAY%20VIVENCIAL." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete2.png" alt="Itinerario reserva de salinas" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        ITINERARIO <br /> RESERVA DE SALINAS
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20ITINERARIO%20RESERVA%20DE%20SALINAS." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete3.png" alt="Catarata de Pillones + Bosque de Piedras" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        CATARATA DE PILLONES <br /> + BOSQUE DE PIEDRAS
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20CATARATA%20DE%20PILLONES%20+%20BOSQUE%20DE%20PIEDRAS." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete4.png" alt="Ruta del Sillar" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        RUTA DEL SILLAR
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20RUTA%20DEL%20SILLAR." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete5.png" alt="Trekkin 2 días 1 noche" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        TREKKIN 2D/1N
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20TREKKIN%202D/1N." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete6.png" alt="Campiña Tour" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        CAMPIÑA TOUR
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20CAMPIÑA%20TOUR." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete7.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        COLCA 2D/1N CONVENCIONAL
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones en la Amazonia Peruana.</p>
                    <a href="https://wa.me/51987654321?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20COLCA%202D%2F1N%20CONVENCIONAL." target="_blank" class="inline-flex items-center px-6 py-2 bg-primary text-white font-semibold rounded-md shadow-md hover:bg-info transition-colors duration-300">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>  