<section class="py-16 bg-gray-50">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-5xl sm:text-5xl lg:text-5xl font-bold text-primary mb-12 px-4 sm:px-8 font-cookies">
            Los mejores <br /> paquetes turísticos
        </h2>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-8">
        
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete1.png" alt="Colca Full Day Vivencial" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        COLCA <br /> FULL DAY VIVENCIAL
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*COLCA%20FULL%20DAY%20VIVENCIAL*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete2.png" alt="Itinerario reserva de salinas" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        ITINERARIO <br /> RESERVA DE SALINAS
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*ITINERARIO%20RESERVA%20DE%20SALINAS*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete3.png" alt="Catarata de Pillones + Bosque de Piedras" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        CATARATA DE PILLONES <br /> + BOSQUE DE PIEDRAS
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*CATARATA%20DE%20PILLONES%20+%20BOSQUE%20DE%20PIEDRAS*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete4.png" alt="Ruta del Sillar" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-primary mb-2">
                        RUTA DEL SILLAR
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*RUTA%20DEL%20SILLAR*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete5.png" alt="Trekkin 2 días 1 noche" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        TREKKIN 2D/1N
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*TREKKIN%202D/1N*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete6.png" alt="Campiña Tour" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        CAMPIÑA TOUR
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*CAMPIÑA%20TOUR*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete7.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        COLCA 2D/1N CONVENCIONAL
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*COLCA%202D%2F1N%20CONVENCIONAL*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete8.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        TOUR CUSCO 5D/4N
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*TOUR%20CUSCO%205D%2F4N*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete9.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        ISLAS FLOTANTES DE LOS UROS Y TAQUILLE
                    </h3>
                    <p class="text-gray-600 mb-4">(FULL DAY VIP) LANCHA VELOZ</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*ISLAS%20FLOTANTES%20DE%20LOS%20UROS%20Y%20TAQUILE%20%28FULL%20DAY%20VIP%29%20LANCHA%20VELOZ*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete10.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        ISLAS FLOTANTES DE LOS UROS Y AMANTANI
                    </h3>
                    <p class="text-gray-600 mb-4">(FULL DAY)</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*ISLAS%20FLOTANTES%20DE%20LOS%20UROS%20Y%20AMANTANÍ%20%28FULL%20DAY%29*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete11.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        ISLAS FLOTANTES DE LOS UROS,AMANTANI Y TAQUILE
                    </h3>
                    <p class="text-gray-600 mb-4">(2D/1N)</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*ISLAS%20FLOTANTES%20DE%20LOS%20UROS%2C%20AMANTANÍ%20Y%20TAQUILE%20%282D%2F1N%29*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete12.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        TOUR RUTA AYMARA
                    </h3>
                    <p class="text-gray-600 mb-4">(MEDIO DÍA)</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*TOUR%20RUTA%20AYMARA%20%28MEDIO%20DÍA%29*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete13.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        COMPLEJO ARQUEOLÓGICO DE SILLUSTANI
                    </h3>
                    <p class="text-gray-600 mb-4">(MEDIO DÍA)</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20*COMPLEJO%20ARQUEOLÓGICO%20DE%20SILLUSTANI%20%28MEDIO%20DÍA%29*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="/images/paquete14.png" alt="Tours Diarios" class="w-full h-64 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2">
                        ISLAS FLOTANTES DE LOS UROS
                    </h3>
                    <p class="text-gray-600 mb-4">Ven y vive las mejores experiencias de tus Vacaciones con Turismo María Belén.</p>
                    <a href="https://wa.me/51967288042?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20ISLAS%20*FLOTANTES%20DE%20LOS%20UROS*." target="_blank" class="inline-flex items-center px-6 py-2 bg-gradient-to-br from-primary to-info text-white font-semibold rounded-md shadow-md transition duration-300 ease-in-out hover:shadow-lg hover:scale-105 hover:from-info hover:to-primary">
                        Consultar Ahora
                        <i class="fab fa-whatsapp ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>  