<section class="bg-gray-100 dark:bg-gray-800 py-24 px-4 sm:px-8 text-center">
    <h2 class="text-3xl font-bold text-primary mb-2">
        Nuestras Redes
    </h2>
    <p class="text-lg text-gray-600 dark:text-gray-300 mb-6">
        Síguenos en nuestras redes sociales:
    </p>
    <div class="flex justify-center space-x-6">
        <a href="https://www.facebook.com/TurismoMariaBelenEIRL" target="_blank" rel="noopener noreferrer" class="text-gray-600 dark:text-gray-300 hover:text-primary transition">
            <span class="sr-only">Facebook</span>
            <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>

        <a href="https://www.instagram.com/turismo_maria_belen_eirl/" target="_blank" rel="noopener noreferrer" class="text-gray-600 dark:text-gray-300 hover:text-primary transition">
            <span class="sr-only">Instagram</span>
            <i class="fa-brands fa-instagram fa-2xl"></i>
        </a>

        <a href="https://www.youtube.com/@turismomariabeleneirl7042" target="_blank" rel="noopener noreferrer" class="text-gray-600 dark:text-gray-300 hover:text-primary transition">
            <span class="sr-only">YouTube</span>
            <i class="fa-brands fa-youtube fa-2xl"></i>
        </a>

        <a href="https://www.tiktok.com/@turismomariabelen95" target="_blank" rel="noopener noreferrer" class="text-gray-600 dark:text-gray-300 hover:text-primary transition">
            <span class="sr-only">TikTok</span>
            <i class="fa-brands fa-tiktok fa-2xl"></i>
        </a>

        <a href="https://wa.me/51967288042?text=Hola%20*Agencia%20de%20Turismo%20Mar%C3%ADa%20Bel%C3%A9n*,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20paquetes%20tur%C3%ADsticos." target="_blank" rel="noopener noreferrer" class="text-gray-600 dark:text-gray-300 hover:text-primary transition">
            <span class="sr-only">WhatsApp</span>
            <i class="fa-brands fa-whatsapp fa-2xl"></i>
        </a>
    </div>
</section>