---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Agencia de Turismo Maria Belen</title>
	</head>
	<body>
		<slot />
	</body>
</html>