---
import '../styles/global.css';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Agencia de Turismo Maria Belen ofrece paquetes turísticos completos para disfrutar de la mejor experiencia en tus vacaciones.">
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Agencia de Turismo Maria Belen" />
		<meta property="og:description" content="Explora los mejores paquetes turísticos con la Agencia de Turismo Maria Belen." />
		<meta property="og:image" content="https://www.turismomariabelen.com.pe/images/paquete6.webp" />
		<meta property="og:url" content="https://turismomariabelen.com.pe/" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Agencia de Turismo Maria Belen" />
		<meta name="twitter:description" content="Explora los mejores paquetes turísticos con la Agencia de Turismo Maria Belen." />
		<meta name="twitter:image" content="https://www.turismomariabelen.com.pe/images/paquete6.webp" />
		<meta name="google-site-verification" content="GZc7QtJ9FazrMH4bOgnGjbkri6MUezbzWa1niv7tB1s" />
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.webp">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.webp">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.webp">
		<link rel="manifest" href="/images/site.webmanifest">
		<link rel="canonical" href="https://www.turismomariabelen.com.pe/">
		<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-NG55X3NE7F"></script>

		<script is:inline>
			if (typeof window !== 'undefined') {
				// Google Analytics
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					window.dataLayer.push(arguments);
				}
				gtag('js', new Date());
				gtag('config', 'G-NG55X3NE7F');

				// Google Tag Manager (GTM)
				(function(w, d, s, l, i) {
					w[l] = w[l] || [];
					w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});

					var f = d.getElementsByTagName(s)[0];
					if (f && f.parentNode) {
						var j = d.createElement(s);
						var dl = l !== 'dataLayer' ? '&l=' + l : '';
						j.async = true;
						j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
						f.parentNode.insertBefore(j, f);
					}
				})(window, document, 'script', 'dataLayer', 'GTM-TKLF8NJP');
			}
		</script>
	</head>
	<body>
		<slot />
		<a href="https://wa.me/51967288042?text=Hola%20*Agencia%20de%20Turismo%20Mar%C3%ADa%20Bel%C3%A9n*,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20sobre%20sus%20paquetes%20tur%C3%ADsticos." target="_blank" rel="noopener noreferrer" class="fixed bottom-6 right-6 z-50 p-4 bg-green-500 text-white rounded-full shadow-xl hover:bg-green-600 transition duration-300 transform hover:scale-110 hover:rotate-12" aria-label="Enviar mensaje por WhatsApp">
			<i class="fa-brands fa-whatsapp text-2xl"></i>
		</a>

		<a href="#top" class="fixed bottom-24 right-8 z-50 p-3 bg-primary text-white rounded-full shadow-xl hover:bg-info transition duration-300" aria-label="Volver al inicio de la página">
			<i class="fa-solid fa-arrow-up text-xl"></i>
		</a>
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKLF8NJP"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
	</body>
</html>